//Colors
$main-yellow: #febe10;
$main-green: #0aa95c;
$main-bg-color: #f6f6f6;
$plain-white-color: #fff;
$global-border-color: #bbd5f0;
$additional-font-color: #333;
$plain-black-font-color: #000;
$main-rose-dots-color: #f84141;
$inner-product-nav-bg-color: rgba(10, 169, 92, 0.9);
$goods-clear-bg-color: rgba(255, 255, 255, 0.9);
//Sizes
$global-font-size: 15px;
$product-nav-font-size: 14px;
$header-max-height: 95px;
$main-cover-max-width: 1400px;
$product_nav-max-width: 280px;
$inner-list-item-max-width: 340px;
$goods_inner_list_item-min-height: 530px;
$inner_goods_cover-max-width: 490px;
$button-max-width: 210px;
$button-font-size: 13px;
$aside-info-font-size: 33px;
$aside-head-text-font-size: 63px;
$footer-max-heigth: 35px;
$footer-font-size: 12px;
